@import "tailwindcss";

body {
  padding: 1rem;
  background-color: #27272a;
  width: 100%;
}
#root {
  width: 100%;
}
.login-container {
  width: 320px;

  background-color: black;
  border-radius: 5px;
  padding: 1rem;
}
#input {
  width: 100%;
  padding: 8px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #ffff;
  color: black;
  outline: none;
}
.submit-button {
  width: 100%;
  background-color: rgb(82, 194, 82);
  height: 35px;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  border-radius: 5px;
  cursor: pointer;
}
.register-button {
  width: 100%;
  background-color: rgb(249, 60, 60);
  height: 35px;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  border-radius: 5px;
  cursor: pointer;
}
.loading {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-top-color: rgb(247, 53, 53);
  animation: rotate 1s infinite;
}

@keyframes rotate {
  100% {
    rotate: 360deg;
  }
}
.loader {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-top-color: rgb(82, 194, 82);
  animation: rotate 1s infinite;
}
@keyframes rotate {
  100% {
    rotate: 360deg;
  }
}
.round {
  width: 40px;
  height: 40px;
  background-color: #27272a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.acount-name {
  font-size: 20px;
}

.box {
  width: 400px;
  height: 350px;
  background-color: black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 15px;
  border-radius: 5px;
  overflow-y: scroll;
}
.text {
  font-size: 10px;
}
.box::-webkit-scrollbar {
  display: none;
}
.image {
  width: 100px;
  height: 100px;
}
@media (max-width: 430px) {
  .box {
    width: 200px;
    height: 200px;
    font-size: 2vw;
    padding: 2vw;
    border-radius: 5px;
  }
  .text {
    font-size: 1vw;
  }
}
.logout {
  background-color: rgb(72, 186, 72);
  font-size: 15px;

  color: white;
  border: none;
  width: 110px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
}
